.mySwiper {
  width: 100%;
  height: 85vh;
  margin-top: 0px !important;
  padding-top: 0px !important;
  top: 0px;
}

@media (max-width: 680px) {
  .mySwiper {
    height: 50vh;
  }
  .swiper-button-next,
.swiper-button-prev {
   height:10px !important;
}
}

.mySwiperSlide {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #c3abef, #5926ba, #ca1854);
  color: #efefef;
}

.mySwiperSlide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.85 !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  margin: 0px 20px;
}
